        <form class="reg">
                <div class="ribbon"><h1>Напишите нам</h1></div>
        <div class="name">
            <label for="t1">Ваше имя:</label>
            <input type="text" class="text" id="t1">
            
        </div>
        <div class="email">
            <label for="e1">Ваш Email:</label>
            <input type="email" class="text" id="e1">
        </div>
        <div class="number">
            <label for="n1">Ваш телефон:</label>
            <input type="tel" class="text" id="n1">
        </div>
        <div class="list">
            <label for="t2">Тема:</label>
            <select id="t2"  class="tem">
                <option value="tech">Техподдержка</option>
                <option value="sales">Продажи</option>
                <option value="order">Другое</option>
                <option value="more">Ешё один пункт</option>
            </select>
        </div>
        <div class="masseng">
            <label for="t3">Ваше сообщение:</label>
            <textarea name="masseng" class="text" id="t3" rows="5" cols="20"></textarea>
        </div>
        <div class="capcha">
            <label for="capcha">Цифры:</label>
            <input type="text" class="text" id="capcha">
        </div>
            <button>Отправить письмо!</button>
        </form>
    

